:root {
    --white: #FFF;
    --black: #000;
    --warm-grey: #d8d8d8;
    --gradient-grey: #7d8a94;
    --water: #2476fe;
    --money: #0fd398;
    font-family: sans-serif;
}
.grey-text {color: var(--gradient-grey);}
.white-text {color: var(--white);}
body, html {
    margin: 0;
    padding: 0;
    max-width: 100vw;
}
.nav-dropdown {
    display: none;
}
h2 {
    margin-top: 10rem;
    margin-bottom: 0.8rem;
    font-size: 2rem;
}
.img-container {
    width: 100%;
    height: 100%;
    padding: 0;
}
.flex-container, .grid-container, .software-people{
    padding: 0 2rem;
}
.flex-container {
    display: flex;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    "a1 a2 a3 a4 a5 a6 a7"
    "b1 b2 b3 b4 b5 b6 b7"
    "c1 c2 c3 c4 c5 c6 c7"
    "d1 d2 d3 d4 d5 d6 d7"
    "e1 e2 e3 e4 e5 e6 e7"
    "f1 f2 f3 f4 f5 f6 f7"
    "g1 g2 g3 g4 g5 g6 g7"
    ;
}
button {
    text-align: center;
    border: none;
    width: 7rem;
    height: 3rem;
    align-self: center;
    justify-self: center;
    border-radius:2pc;
    color: var(--white);
    font-weight: 900;
    background-color: var(--water);
}
button:hover {
    background-color: var(--gradient-grey);
}
footer hr {
    width: 95%;
    color: #d8d6d62a;
}